@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Absar Ahmed Shaikh</h1>
    <p>Learn about <a href="https://aws.amazon.com/console/">building Web apps with ASP.NET Core</a>.</p>
</div>
